.banner{
    background-color: rgba(236, 236, 187, 0.904);
    border-radius: 1rem;
    border: yellow solid 3px;
}

.banner .turnMark{
    border: red solid 3px;
    border-radius: 1rem;

}

.banner h3{
    margin-bottom: 0;
}

/*
.banner span{
    ;
}
*/